body{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div{
    border: 1px solid salmon;
}

h1{
    text-align: center;
}

p{
    border:2px solid rgb(182, 182, 182) ;
}

#divA{
    background-color: rgb(102, 147, 187);
}

#divB{
    background-color: rgb(110, 102, 187);
    padding: 20px;
}

#divC{
    background-color: rgb(187, 150, 102);
    margin: 20px;
}

#divD{
    background-color: rgb(20, 180, 114);
    padding: 20px;
    margin: 20px;
}
